.notecard-cont {
    display: flex;
    flex-direction: column;
    padding: 0.25rem;
    background-color: #363b3d;
    border: solid;
    border-radius: 1rem;
    margin: 1rem 0 1rem 0;
}

.button-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button-cont > button {
    width: 10rem;
    margin: 0.25rem;
    justify-content: center;
}