.sidepanel {
    transform: translateX(-100%);
    background-color: red;
    transition: transform 0.3s ease;
    width: 18rem;
    overflow: hidden;
}

.sidepanel-open {
    transform: translateX(0);
    transition: transform 0.3s ease-in;
}