.textarea-cont {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    flex: 1;
}

.textarea-header {
    display: flex;
    justify-content: flex-start;
    padding: 0.5rem;
    flex-shrink: 0;
}

.textarea {
    flex: 1;
    outline: none;
    background-color: #09131B;
    padding: 1rem;
    color: #72AC5C;
}

.textarea-full {
    flex: 1;
    outline: none;
    background-color: #0E0004;
    padding: 1rem;
}